@import "reset.css";
@import "vars.css";

*:not(pre, pre>span) {
    font-family: 'Press Start 2P', cursive;
}

* {
    color: var(--main);
}

.container {
    max-width: 900px;
    margin: 0 auto;
    align-self: center;
    padding: var(--gap);
}

.gb {
    margin-bottom: var(--gap);
}

.self-center {
    align-self: center;
}

.text-center {
    text-align: center;
}

.column.between {
    justify-content: space-between;
    height: 100%;
}

.row.center {
    justify-content: center;
}

.row,
.column {
    display: flex;
}

.column {
    flex-direction: column;
}

.fw {
    width: 100%;
}