.logo {
  margin-left: -70px;
}

.profile__photo {
  font-size: 5px;
}


.about__info {
  margin-left: -120px;
  margin-left: var(--gap);
  max-width: 550px;
}

.core-tech {
  margin-top: 70px;
}

.core-tech>*:not(:last-child) {
  margin-right: var(--gap-half);
}

.core-tech>* {
  background-color: var(--main);
  color: var(--invert);
  padding: var(--gap-half);
  border-radius: 6px;
  font-size: 12px;
}